@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #2563EB;
    --color-primary-dull: #1F58D8;
    --color-light: #F1F5F9;
    --color-borderColor: #C4C7D2;
    --color-muted-foreground: #64748B;
}

* {
    font-family: "Outfit", sans-serif;
}

button {
    @apply cursor-pointer hover:scale-105 active:scale-95 transition-all
}

::-webkit-scrollbar {
    display: none;
}